table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  //background-color: hsla(60, 85%, 65%, .6);

  th, td{
    //border: 1px solid black;
    padding: 4px 2px;
   // font-size: 1.2rem;
  }
  caption {
    padding: 2px 2px;
    text-align: start;
  }
  thead tr th{
    //border: 2px solid hsla(0%, 0%, 35%, .6);
  }
  thead tr:nth-child(1){
    background-color: hsla(30, 100% , 50%, .8);
  }/*
  tbody tr td:nth-child(1){
    background-color: hsla(30%, 100%, 50%, .8);
  }
  tbody tr td:nth-child(2), td:nth-child(3){
    background-color: hsla(0% , 0% , 65%, .8);
  }
  tbody tr td:nth-child(3) {
    background-color: hsla(0% , 0% , 35%, .8);
    
  }
  */
}

table
th:nth-child(1){
  width: 23%;
  text-align: start;
}
table
th:nth-child(2){
  width: 65%;
  text-align: start;
  text-indent: 2px;
}
table 
th:nth-child(3) {
  width: 12%;
}

table td:nth-child(2){
  text-indent: 2px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
table td:nth-child(3){
  text-align: center;
}
